<div class="card">
  <% @my_kitchens.each do | my_kitchen |%>
    <h5 class="card-header"><%= my_kitchen.title %></h5>
    <div class="card-body">
      <h5 class="card-title"><%= my_kitchen.cuisine %></h5>
      <p class="card-text"><%= my_kitchen.description %></p>
      <h6 class="card-title"><%= my_kitchen.price %> AUD</i></h6>
      <div class="more_options">
        <%= link_to 'Edit Kitchen', edit_kitchen_path(my_kitchen) %> |
        <%= link_to 'Delete',
          kitchen_path(my_kitchen),
          method: :delete,
          data: { confirm: "Are you sure you want delete this kitchen?" } %>
      </div>
    </div>
  <% end %>
</div>
