<div class="dashboard_banner">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('dashboard_banner.png') %>)">
    <h1>My Dashboard</h1>
  </div>
</div>

<div class="tabs-container">
  <ul class="tabs">
    <li class="active">
      <p>My Bookings</p>
    </li>
    <%# <li>
      <a href="">My Kitchens</a>
    </li> %>
  </ul>
  <div class="tabs-content">
    <div class="tabs-panel active" data-index="0">
      <!-- content here -->
      <div class= "container">

          <p>Accessing the bookings people have made on my listings </p>
        <% @my_kitchens_bookings.each do |booking| %>

        <div class= "card flex m-4 p-3">
            <%= image_tag "booking_image.jpg", class: "avatar" %>
              <%= booking.kitchen.title %>
              <i class="material-icons mr-2">Name of booker: <%= booking.user.first_name %>
              <%= booking.user.last_name %></i>
              <i class="material-icons mr-2">Email of booker: <%= booking.user.email %></i>

              <i class="material-icons mr-2">Date : <%= booking.date %></i>

                <div class="more_options">
                  <%= link_to 'Change the date', new_kitchen_booking_path(@kitchens) %> |
                  <%= link_to 'Delete',

                    dashboard_path,
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete?" } %>
                </div>
          </div>
        <% end %>


        <p>Accessing the bookings that I have made</p>

        <% @bookings.each do |booking| %>
          <div class= "card flex m-4 p-3">
            <%= image_tag "booking_image.jpg", class: "avatar" %>
              <%= booking.kitchen.title %>
              <i class="material-icons mr-2">Date :  <%= booking.date %></i>
              <i class="material-icons mr-2"><%= booking.kitchen.price %> AUD</i>

                <div class="more_options">
                  <%= link_to 'Change the date', edit_booking_path(booking) %> |
                  <%= link_to 'Delete',
                    booking_path(booking),
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete?" } %>
                </div>
          </div>
        <% end %>
      </div>

  </div>
    <div class="tabs-panel" data-index="1">
      <!-- content here -->

    </div>
  </div>

  <%= render "mykitchens" %>

  <!-- Tabs navs -->
<ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="ex3-tab-1"
      data-mdb-toggle="tab"
      href="#ex3-tabs-1"
      role="tab"
      aria-controls="ex3-tabs-1"
      aria-selected="true"
      >My bookings</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="ex3-tab-2"
      data-mdb-toggle="tab"
      href="#ex3-tabs-2"
      role="tab"
      aria-controls="ex3-tabs-2"
      aria-selected="false"
      >My Kitchens</a
    >
  </li>
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="ex2-content">
  <div
    class="tab-pane fade show active"
    id="ex3-tabs-1"
    role="tabpanel"
    aria-labelledby="ex3-tab-1"
  >
    Tab 1 content
  </div>
  <div
    class="tab-pane fade"
    id="ex3-tabs-2"
    role="tabpanel"
    aria-labelledby="ex3-tab-2"
  >
    Tab 2 content
  </div>

</div>
<!-- Tabs content -->
