


<div class="container py-8">
  <div class="row">
    <div class="col-6 col-md-6 offset-lg-1">
      <div>
        <p>Book this private kitchen!</p>
        <%= simple_form_for [@kitchen, @booking] do |f| %>
          <%= f.input :date, placeholder: 'Date' %>
          <%= f.input :startime, collection: ['16:00', '17:00', '18:00', '19:00'], selected: '16:00', label: 'Select a start time' %>
          <%= f.input :endtime, collection: ['19:00', '20:00', '21:00', '22:00'], selected: '18:00', label: 'Select an end time' %>
          <%= f.input :guests, collection: 1..6, selected: 1, label: 'Choose how many guests' %>
          <%= f.submit class: 'btn btn-outline-secondary text-decoration-none' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
