<div class="container py-8">
  <div class="row">
    <div class="col-6 col-md-6 offset-lg-1">
      <div>
        <p>Book this private kitchen!</p>
        <%= simple_form_for [@kitchen, @booking] do |f| %>
          <%= f.input :date, placeholder: 'Select a date', as: :string, type: :text %>
          <%= f.input :timeslot, collection: ['16:00 - 18:00', '17:00 - 19:00', '18:00 - 20:00'], selected: '16:00 - 18:00', label: 'Select a timeslot' %>
          <%= f.input :id, collection: 1..6, selected: 1, label: 'Choose how many guests' %>
          <%= f.submit class: 'btn btn-outline-success text-decoration-none' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
